.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Ticker-row {
    line-height: 2em;
    text-align: left;
    padding: 0 5vw 0 5vw;
}

.Ticker-row:nth-child(odd) {
    background-color: white;
}

.Ticker-row:nth-child(even) {
    background-color: lightgray;
}

.Ticker-row.Ticker-header {
    background-color: black;
    color: white;
}

.Ticker-row > div {
    display: inline-block;
}

.Ticker-name-container {
    width: 20vw;
}

.Ticker-price-container {
    width: 50vw;
}

.Ticker-time-container {
    width: 20vw;
}

.Ticker-price.price-up {
    color: green;
}

.Ticker-price.price-down {
    color: red;
}

.Ticker-price .price {
    width: 5em;
    display: inline-block;
}

.Ticker-price .symbol {
    width: 2em;
    display: inline-block;
}

.Ticker-price .sparkline {
    width: 5em;
    display: inline-block;
}

.hidden {
    display: none !important;
}

